AB <abolte@systemsaviour.com>
AD <adrien@luxeylab.net>
AK <akrebs@ualberta.ca>
AN <andrey@nering.com.br>
AS <git@axelsimon.net>
FR <317514+MagicFab@users.noreply.github.com>
GS <bentolor@users.noreply.github.com>
JM <joerg.mechnich@gmail.com>
JY <info@bidsnc.com>
JY <joe.g.yates@gmail.com>
JY <joeyates@users.noreply.github.com>
MW <mike@lepton.fr>
MW <max@wardeh.org>
NJ <nicholas.jakobsen@gmail.com>
OJ <olle.jonsson@gmail.com>
SP <sergei@predvoditelev.ru>
