# This file adapted from github.com/antespi/docker-imap-devel
version: "3"

services:
  imap:
    image: ghcr.io/joeyates/docker-imap-devel@sha256:6d6a64c32e2c583222d75286aa46a04ada5aea76efa36117815bf0e19d5063b6
    container_name: imap
    ports:
    - "8993:993"
    environment:
    - MAILNAME=example.com
    - MAIL_ADDRESS=address@example.com
    - MAIL_PASS=pass
  other-imap:
    image: ghcr.io/joeyates/docker-imap-devel@sha256:6d6a64c32e2c583222d75286aa46a04ada5aea76efa36117815bf0e19d5063b6
    container_name: other-imap
    ports:
    - "9993:993"
    environment:
    - MAILNAME=other.org
    - MAIL_ADDRESS=email@other.org
    - MAIL_PASS=pass
    - DOVECOT_PUBLIC_NAMESPACE_PREFIX=other_public
